* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    /* center the canvas */
    transform: translate(-50%, -50%);
    background-color: #4d79bc;
    /* To fit the screen */
    max-width: 100%;
    max-height: 100%;
    font-family: 'Bangers', cursive;
    border-radius: 10px;
}


/* Hide all layers */

#layer1,
#layer2,
#layer3,
#layer4,
#player,
#angler1,
#angler2,
#hivewhale,
#drone,
#lucky,
#projectile,
#gears,
#smokeExplosion,
#fireExplosion {
    display: none;
}